/* main portfolio */
/* Button block */
.pf-section {
  padding-top: 93px;
  padding-bottom: 95px;
  margin: 0 auto;
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #ececec;
}
.section__btn-list {
  display: flex;
  margin-bottom: 50px;
  justify-content: center;

  & .btn {
    color: var(--title-text-color);
    background-color: var(--secondary-bg-color);
    /*box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);*/
    border-radius: 4px;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.62;
    text-align: center;
    padding: 6px 22px;
    cursor: pointer;
    margin-left: 8px;

    & .btn:hover,
    & .btn:focus {
      background-color: var(--accent-color);
      color: var(--primary-white-color);
      font-weight: 500;
      font-size: 16px;
      line-height: 1.62;
      text-align: center;
      box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1),
        0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
    }
  }
}
