/* What we do */
.what-we-do.section {
  padding: 0 0 94px 0;
  margin: 0 auto;
}
.what-we-do .section-card__title {
  margin-bottom: 50px;
}
.what-we-do .section-card__list {
  display: flex;
  justify-content: space-between;
}
.section-card__img-wrap {
  position: relative;
  text-align: center;
  color: #ffffff;
  font-size: 14px;
  line-height: 1.14;
}

.section-card__descript {
  position: absolute;
  bottom: 0px;
  left: 0px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 370px;
  height: 70px;
  background-color: rgba(47, 48, 58, 0.8);
}
.section-card__descript .section-card__descript-title {
  font-weight: bold;
  text-transform: uppercase;
}
/* Our team */
.section.our-team {
  background-color: var(--secondary-bg-color);
}
.our-team .section-card__title {
  margin-bottom: 50px;
}

.section-card__list.cards {
  display: flex;
  justify-content: space-between;
}
.section-card__list.cards > .card {
  background-color: var(--primary-white-color);
  width: 270px;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}
.card-title {
  color: var(--title-text-color);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
  margin-top: 30px;
  margin-bottom: 10px;
}
.card-descr {
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
}

.our-team .card-links {
  display: flex;
  justify-content: space-between;
}
.our-team .card-links {
  margin-top: 16px;
  margin-left: 32px;
  margin-right: 32px;
  margin-bottom: 30px;
}
.icon-item .icon-link {
  display: block;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  color: var(--icon-color);
}
.our-team .icon-link {
  display: flex;
  justify-content: center;
  align-items: center;
}
.our-team .icon {
  fill: currentColor;
}
.our-team .icon-link:hover {
  background-color: var(--accent-color);
  color: var(--primary-white-color);
}
